<h1>Automatic Temptation Moneybox</h1>
<div class="atm-panel" data-count="<%=@saving%>">
    <div class="main-window">
      <div class="messege-window">
        <%= image_tag("messege.png") %>
        <div class="messege-range">
          <div class="messege">
            <%= @message %>
          </div>
        </div>
      </div>
      <div class="payee">
            <%= image_tag(@image) %>
            <%#<%= image_tag("everyday2.png" :class="everyday2") %>%>
            <div class="expression">
                <%= image_tag("expression-normal.png", :class=>"expression-normal") %>
                <%= image_tag("expression-smile", :class=>"expression-smile") %>
                <%= image_tag("expression-blink.png", :class=>"expression-blink") %>
                <%= image_tag("expression-worry.png", :class=>"expression-worry") %>
            </div>
            <div class="item">
                <%= image_tag("bracelet_1.png", :class=>"bracelet_1") %>
                <%= image_tag("bracelet_2.png", :class=>"bracelet_2 is-hide") %>
                <%= image_tag("earring_1.png", :class=>"earing_1 is-hide") %>
                <%= image_tag("earring_2.png", :class=>"earing_2 is-hide") %>
                <%= image_tag("earring_3.png", :class=>"earing_3 is-hide") %>
                <%= image_tag("hairclip_1.png", :class=>"hairclip_1 is-hide") %>
                <%= image_tag("hairclip_2.png", :class=>"hairclip_2 is-hide") %>
                <%= image_tag("neckless_1.png", :class=>"neckless_1 is-hide") %>
                <%= image_tag("neckless_2.png", :class=>"neckless_2 is-hide") %>
                <%= image_tag("neckless_3.png", :class=>"neckless_3 is-hide") %>
                <%= image_tag("neckless_4.png", :class=>"neckless_4 is-hide") %>
                <%= image_tag("watch_1.png", :class=>"watch_1 is-hide") %>
                <%= image_tag("watch_2.png", :class=>"watch_2 is-hide") %>
            </div>
            <div class="leg">
                <%= image_tag("leg.png") %>
            </div>
      </div>
    </div>
    <div class="side-window">
      <div class="menu">
        <div class="payee-info">
          <%= form_for @user, url: users_path, method: :post do |f| %>
            <%= f.text_field :name, class: 'name_form none' %>
            <h1 class="name"><%= @user.name %></h1><p>ちゃん</p>
          <% end %>

          <div class="balance">
          <h2 class="title">心<br>配<br>度</h2>
            <% for index in 1..@worry_count do %>
                <div class="gage payment" id="gage<%= index %>"></div>
            <% end %>
            <% for index in @worry_count..4 %>
                <div class="gage" id="gage<%= index %>"></div>
            <% end %>
          </div>
        </div>
        <div class="log">
          <div class="log-window">
            <% @system_messages.each do |system_message| %>
               <p>▽  <%= system_message %>
               </p>
            <% end %>
           <p>
           ▽  説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
           </p>
          </div>
        </div>
      </div>
      <div class="withdrawal">
        <button type="button" name="withdrawal">お別れする…</button>
      </div>
    </div>
  </div>
   <%= @worry_count %>
    <script>
        var manager;
        var count = 1;
        var flag = 0;
        window.onload = function() {
            blink();
            let money = $('.atm-panel').data('count')
            if(money > 50){
                $('.earing_1').removeClass('is-hide');
            }
            manager = (new AudioManager({
                useMicrophone   : true,
                onEnterFrame    : function() {
                    if(Utils.sum(this.analysers.mic.getByteFrequencyData())>100000){
                        if(flag==0){
                            console.log(Utils.sum(this.analysers.mic.getByteFrequencyData()));
                            //document.getElementById('count').innerHTML = ("カウント数:" + count);
                            count++;
                            statusStop  = setInterval(moneyStop , 1); //ボタンを押した直後に①を呼び出し
                            statusStart = setInterval(moneyStart , 600); //ボタンを押して0.6秒後に②を呼び出し
                            $.ajax({
                                type: "POST",
                                url: "/settings",
                                dataType: "script"
                            });

                        }else{
                            console.log("多重カウント");
                        }
                    }
                }
            })).init();
        };
        function moneyStop(){ //①
            flag=1;
        clearInterval(statusStop);
        }

        function moneyStart(){  //②
            flag=0;
            $fn_hop()
        clearInterval(statusStart);
        }
        var cnt = 0;
        var $fn_hop = function() {
            $('.expression-normal').addClass('is-hide');
            $('.expression-smile').addClass('is-show');
            $('.payee').toggleClass('is-hop');
            cnt++
            var id = setTimeout($fn_hop, 200);
            if (cnt > 3) {　
                clearTimeout(id);　 //idをclearTimeoutで指定している
                cnt = 0;
                $('.expression-smile').toggleClass('is-show');
                $('.expression-normal').toggleClass('is-hide');
            }
        }
        var str = "あいうえおかきくけこ"
        $('#is-str-show').on('click',function(){
            $('.str-box').empty()
                var txtArr = str.split("");
                var count = 0;

                var txtCount = function() {
                    var timer = setTimeout(txtCount, 150);
                    $('.str-box').append(txtArr[count]);
                    count++;
                    if (count == txtArr.length) {
                        clearTimeout(timer);
                    }
                }
                txtCount();
        })

          var blink = function(){
            var rand = (Math.floor( Math.random() * 100 ) + 1)*100 ;
            $('.expression-normal').toggleClass('is-hide');
            $('.expression-blink').toggleClass('is-show');
                setTimeout(blink, rand);
            } 

        $('#is-hop').on('click',function(){
            $fn_hop()
        })

        $('#is-blink').on('click',function(){
            $('.expression-normal').toggleClass('is-hide');
            $('.expression-blink').toggleClass('is-show');
        })

        $('#is-smile').on('click',function(){
            $('.expression-smile').toggleClass('is-show');
            $('.expression-normal').toggleClass('is-hide');
        })

        $('#is-item-show').on('click', function() {
            $('.item1').toggleClass('is-hide');
        })
    </script>
