<h1>Automatic Temptation Moneybox</h1>
<div class="atm-panel" data-count="<%=@saving%>">
    <div class="main-window">
      <div class="messege-window">
        <%= image_tag("messege.png") %>
        <div class="messege-range">
          <div class="messege">
            <%= @message %>
          </div>
        </div>
      </div>
      <div class="payee">
            <%= image_tag(@image) %>
            <%#<%= image_tag("everyday2.png" :class="everyday2") %>%>
            <div class="expression">
                <%= image_tag("expression-normal.png", :class=>"expression-normal") %>
                <%= image_tag("expression-smile", :class=>"expression-smile") %>
                <%= image_tag("expression-blink.png", :class=>"expression-blink") %>
                <%= image_tag("expression-worry.png", :class=>"expression-worry") %>
            </div>
            <div class="item">
                <%= image_tag(@bracelet, :class=>"bracelet_1") if @bracelet.present? %>
                <%= image_tag(@earring, :class=>"earing_1") if @earring.present? %>
                <%= image_tag(@hairclip, :class=>"hairclip_1") if @hariclip.present? %>
                <%= image_tag(@neckless, :class=>"neckless_1") if @neckless.present? %>
                <%= image_tag(@watch, :class=>"watch_1") if @watch.present? %>
            </div>
            <div class="leg">
                <%= image_tag("leg.png") %>
            </div>
      </div>
    </div>
    <div class="side-window">
      <div class="menu">
        <div class="payee-info">
          <%= form_for @user, url: users_path, method: :post do |f| %>
            <%= f.text_field :name, class: 'name_form none' %>
            <h1 class="name"><%= @user.name %></h1><p>ちゃん</p>
          <% end %>

          <div class="balance">
          <h2 class="title">心<br>配<br>度</h2>
            <% for index in 1..@worry_count do %>
                <div class="gage payment" id="gage<%= index %>"></div>
            <% end %>
            <% for index in @worry_count..4 %>
                <div class="gage" id="gage<%= index %>"></div>
            <% end %>
          </div>
        </div>
        <div class="log">
          <div class="log-window">
            <% @system_messages.each do |system_message| %>
               <p>▽  <%= system_message %></p>
               <p><%= @datetime %></p>
            <% end %>
          </div>
        </div>
      </div>
      <%= form_for @user, url: users_path, method: :post do |f| %>
        <%= f.text_field :player_name, class: 'player_name_form none' %>
      <% end %>
      <span class='player_name'><%= @user.player_name %></span>
      <div class="withdrawal">
        <%= button_to 'お別れする...', setting_path(1), method: 'delete', type: 'button', name: 'withdrawal' %>
      </div>
    </div>
  </div>
   <%#= @worry_count %>
    <script>
        var manager;
        var count = 1;
        var flag = 0;
        window.onload = function() {
            blink();
            let money = $('.atm-panel').data('count')
            if(money > 50){
                $('.earing_1').removeClass('is-hide');
            }
            manager = (new AudioManager({
                useMicrophone   : true,
                onEnterFrame    : function() {
                    if(Utils.sum(this.analysers.mic.getByteFrequencyData())>100000){
                        if(flag==0){
                            console.log(Utils.sum(this.analysers.mic.getByteFrequencyData()));
                            //document.getElementById('count').innerHTML = ("カウント数:" + count);
                            count++;
                            statusStop  = setInterval(moneyStop , 1); //ボタンを押した直後に①を呼び出し
                            statusStart = setInterval(moneyStart , 1000); //ボタンを押して0.6秒後に②を呼び出し
                            $.ajax({
                                type: "POST",
                                url: "/settings",
                                dataType: "script"
                            });

                        }else{
                            console.log("多重カウント");
                        }
                    }
                }
            })).init();
        };
        function moneyStop(){ //①
            flag=1;
        clearInterval(statusStop);
        }

        function moneyStart(){  //②
            flag=0;
            $fn_hop()
        clearInterval(statusStart);
        }
        var cnt = 0;
        var $fn_hop = function() {
            $('.expression-normal').addClass('is-hide');
            $('.expression-smile').addClass('is-show');
            $('.payee').toggleClass('is-hop');
            cnt++
            var id = setTimeout($fn_hop, 200);
            if (cnt > 3) {　
                clearTimeout(id);　 //idをclearTimeoutで指定している
                cnt = 0;
                $('.expression-smile').toggleClass('is-show');
                $('.expression-normal').toggleClass('is-hide');
            }
        }
        var str = "あいうえおかきくけこ"
        $('#is-str-show').on('click',function(){
            $('.str-box').empty()
                var txtArr = str.split("");
                var count = 0;

                var txtCount = function() {
                    var timer = setTimeout(txtCount, 150);
                    $('.str-box').append(txtArr[count]);
                    count++;
                    if (count == txtArr.length) {
                        clearTimeout(timer);
                    }
                }
                txtCount();
        })

          var blink = function(){
            var rand = (Math.floor( Math.random() * 100 ) + 1)*100 ;
            $('.expression-normal').toggleClass('is-hide');
            $('.expression-blink').toggleClass('is-show');
                setTimeout(blink, rand);
            } 

        $('#is-hop').on('click',function(){
            $fn_hop()
        })

        $('#is-blink').on('click',function(){
            $('.expression-normal').toggleClass('is-hide');
            $('.expression-blink').toggleClass('is-show');
        })

        $('#is-smile').on('click',function(){
            $('.expression-smile').toggleClass('is-show');
            $('.expression-normal').toggleClass('is-hide');
        })

        $('#is-item-show').on('click', function() {
            $('.item1').toggleClass('is-hide');
        })
    </script>
