<h1>彼女シミュレーター</h1>
<div class="atm-panel">
    <div class="main-window">
      <div class="messege-window">
        <%= image_tag("messege.png") %>
        <div class="messege-range">
          <div class="messege">説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
          </div>
        </div>
      </div>
      <div class="payee">
            <%= image_tag("everyday.png") %>
            <div class="expression">
                <%= image_tag("expression-normal.png", :class=>"expression-normal") %>
                <%= image_tag("expression-smile", :class=>"expression-smile") %>
                <%= image_tag("expression-blink.png", :class=>"expression-blink") %>
                <%= image_tag("expression-worry.png", :class=>"expression-worry") %>
            </div>
            <div class="item">
                <%= image_tag("item1.png", :class=>"item1") %>
            </div>
      </div>
    </div>
    <div class="side-window">
      <div class="menu">
        <div class="payee-info">
          <h1 class="name">ゆうり</h1><p>ちゃん</p>
          <div class="balance">
          <h2 class="title">心<br>配<br>度</h2>
            <div class="gage payment" id="gage1"></div>
            <div class="gage payment" id="gage2"></div>
            <div class="gage payment" id="gage3"></div>
            <div class="gage" id="gage4"></div>
            <div class="gage" id="gage5"></div>
          </div>
        </div>
        <div class="log">
          <div class="log-window">
           <p>▽  説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
           </p>
           <p>
           ▽  説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明説明
           </p>
          </div>
        </div>
      </div>
      <div class="withdrawal">
        <button type="button" name="withdrawal">お別れする…</button>
      </div>
    </div>
  </div>

    <p class="str-box"></p>
    <button type="button" id="is-hop">aa</button>
    <button type="button" id="is-smile">bb</button>
    <button type="button" id="is-item-show">cc</button>
    <button type="button" id="is-str-show">dd</button>
    <button type="button" id="is-blink">ee</button>
    <script>
        var manager;
        var count = 1;
        var flag = 0;
        window.onload = function() {
            blink();
            manager = (new AudioManager({
                useMicrophone   : true,
                onEnterFrame    : function() {
                    if(Utils.sum(this.analysers.mic.getByteFrequencyData())>100000){
                        if(flag==0){
                            console.log(Utils.sum(this.analysers.mic.getByteFrequencyData()));
                            //document.getElementById('count').innerHTML = ("カウント数:" + count);
                            count++;
                            statusStop  = setInterval(moneyStop , 1); //ボタンを押した直後に①を呼び出し
                            statusStart = setInterval(moneyStart , 600); //ボタンを押して0.6秒後に②を呼び出し
                            $.ajax({
                                type: "POST",
                                url: "/settings",
                                dataType: "script"
                            });
                        }else{
                            console.log("多重カウント");
                        }
                    }
                }
            })).init();
        };
        function moneyStop(){ //①
            flag=1;
        clearInterval(statusStop);
        }

        function moneyStart(){  //②
            flag=0;
            $fn_hop()
        clearInterval(statusStart);
        }
        var cnt = 0;
        var $fn_hop = function() {
            $('.expression-normal').addClass('is-hide');
            $('.expression-smile').addClass('is-show');
            $('.payee').toggleClass('is-hop');
            cnt++
            var id = setTimeout($fn_hop, 200);
            if (cnt > 3) {　
                clearTimeout(id);　 //idをclearTimeoutで指定している
                cnt = 0;
                $('.expression-smile').toggleClass('is-show');
                $('.expression-normal').toggleClass('is-hide');
            }
        }
        var str = "あいうえおかきくけこ"
        $('#is-str-show').on('click',function(){
            $('.str-box').empty()
                var txtArr = str.split("");
                var count = 0;

                var txtCount = function() {
                    var timer = setTimeout(txtCount, 150);
                    $('.str-box').append(txtArr[count]);
                    count++;
                    if (count == txtArr.length) {
                        clearTimeout(timer);
                    }
                }
                txtCount();
        })

          var blink = function(){
            var rand = (Math.floor( Math.random() * 100 ) + 1)*100 ;
            $('.expression-normal').toggleClass('is-hide');
            $('.expression-blink').toggleClass('is-show');
                setTimeout(blink, rand);
            } 

        $('#is-hop').on('click',function(){
            $fn_hop()
        })

        $('#is-blink').on('click',function(){
            $('.expression-normal').toggleClass('is-hide');
            $('.expression-blink').toggleClass('is-show');
        })

        $('#is-smile').on('click',function(){
            $('.expression-smile').toggleClass('is-show');
            $('.expression-normal').toggleClass('is-hide');
        })

        $('#is-item-show').on('click', function() {
            $('.item1').toggleClass('is-hide');
        })
    </script>
